<div class="container">
  <h1>My Form</h1>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        required
        >
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <form [formGroup]="heroForm">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>
  </form>

  <pre>{{ model | json }}</pre>
  <pre>{{ heroForm.value | json }}</pre>
</div>
