<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-show=isOk>
      Ok to show
    </div>
    <button @click=toggle>Click me</button>
  </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        isOk: true
      },
      methods: {
        toggle: function() {
          this.isOk = !this.isOk
        }
      }
    })
  </script>
</body>
</html>