<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="url in links">
        <my-link v-bind:url="url"></my-link>
      </li>
    </ul>
  </div>

  <script>
    Vue.component('my-link', {
      props: ['url'],
      methods: {
        humanizeURL: function (url) {
          return url
             .replace(/^https?:\/\//, '')
             .replace(/\/$/, '')
        },
      },
      template: '<a v-bind:href="url">{{ url }}</a>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        links: [
          'http://vuejs.org/guide/',
          'https://chat.vuejs.org',
          'http://forum.vuejs.org/'
        ]
      },
    })
  </script>
</body>
</html>
