<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <my-component v-for="item in items" title="item"></my-component>
  </div>
  </div>
  <script>
    Vue.component('my-component', {
      template: "<div>{{title}}</div>",
      props: ['title']
    })

    new Vue({
      el: '#app',
      data: {
        items: [1,2,3]
      }
    })
  </script>
</body>
</html>